@model do_an_tot_nghiep.ViewModels.NhaTroFormViewModel

@{
    ViewData["Title"] = "Thêm Tòa Nhà Mới";
}

<div class="card shadow mb-4 col-md-10 mx-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Khai Báo Tòa Nhà Mới</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <partial name="_Form" model="Model" />
            
            <div class="mt-4 form-group text-end">
                <a asp-action="Index" class="btn btn-secondary me-2">Quay lại danh sách</a>
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Hoàn Thành & Lưu</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
