@model do_an_tot_nghiep.ViewModels.PhongTroFormViewModel

@{
    ViewData["Title"] = "Cập Nhật Phòng";
}

<div class="card shadow mb-4 col-md-10 mx-auto border-left-warning">
    <div class="card-header py-3 bg-white">
        <h6 class="m-0 font-weight-bold text-warning"><i class="fas fa-edit"></i> Cập Nhật Thông Số Phòng: @Model.TenPhong</h6>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <partial name="_Form" model="Model" />
            
            <div class="mt-4 form-group text-end bg-light p-3 rounded">
                <a asp-action="Index" asp-route-buildingId="@Model.NhaTroId" class="btn btn-secondary me-2"><i class="fas fa-arrow-left"></i> Hủy Bỏ Cập Nhật</a>
                <button type="submit" class="btn btn-warning text-dark font-weight-bold"><i class="fas fa-check-circle"></i> Đồng Ý Lưu DB</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
